.active-menu{
    background-color: red;
}
.nav-menu{
    background-color: black;
    height: 50px;
    padding: 10px;
}
.menu-items > a{
  color: white;
  font-size: larger;
  text-decoration: none;
}
.menu-items{
    display: inline-block;
    list-style: none;
    margin-right: 10px;
}