---
title: partial
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {{$current := .}}
<nav class="nav-menu">
    <ul>
        {{range .Site.Menus.main}}
        {{ if eq ($current.Title | lower) .Name}}
       <li class="menu-items"> <a href="{{.URL}}" class="active-menu">{{.Name | title}}</a></li>
        {{else}}
        <li class="menu-items"><a href="{{.URL}}">{{.Name | title}}</a></li>
        {{end}}
      {{end}}
    </ul>
</nav>
</body>
</html>

