<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{.Site.Title}}</title>
    <meta name="description" content="{{ .Param "description" }}">
    {{$globalcss := resources.Get "css/style.css" }}
    <link rel="stylesheet" href="{{.Param "menu" | absURL}}">
    <link rel="stylesheet" href="{{$globalcss.Permalink}}">
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<body>
   {{ partial "menus" . }}
   <h1> THIS IS A HOME PAGE.</h1>
    <hr>
    Home Content :
    {{.Content}}
    <b>Section Kind Pages :</b>
    <ul>
    {{ range where .Site.Pages.ByTitle "Kind" "section"}}
        <li><a href="{{.Permalink}}">{{.Title}}</a></li>
      {{end}}
    </ul>
    <hr>
    <b>Top level pages :</b>
    <ul>
        {{range .Pages}}
          <li><a href="{{.Permalink}}">{{.Title}}</a></li>
        {{end}}
    </ul>
    <hr>
    {{ partial "read" . }}

</body>
</html>