<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{.Site.Title}}</title>
    <meta name="description" content="{{ .Param "description" }}">
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<body>
   <h1>CECI EST UNE PAGE D'ACCUEIL.</h1>
    <hr>
    Contenu de l'accueil :
    {{.Content}}
    <b>Section Genre Pages :</b>
    <ul>
    {{ range where .Site.Pages.ByTitle "Kind" "section"}}
        <li><a href="{{.Permalink}}">{{.Title}}</a></li>
      {{end}}
    </ul>
    <hr>
    <b>Pages de niveau supérieur :</b>
    <ul>
        {{range .Pages}}
          <li><a href="{{.Permalink}}">{{.Title}}</a></li>
        {{end}}
    </ul>
    <hr>
    <ul>
      {{ range $.Site.Home.AllTranslations }}
      <li><a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></li>
      {{ end }}
    </ul>
    <hr>
    Param Accessing:
    {{.Param "custom"}}
    <hr>
    All translation defined : {{.AllTranslations}} <br>
    Shows translation available for current page : {{.Translations}} <br>
    <b>Translations available for current page :</b>
    <ul>
      {{ range .Translations }}
      {{.Lang}}
      <li>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      </li>
      {{ end }}
    </ul>
    {{.WordCount}}
</body>
</html>